<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>
<style>
  @font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }
  h1 {
    text-align: center;
    color: black;
    font-family: "San Francisco";
    font-size: 250px;
    margin:0;
    padding:0;
  }
  p  {
    text-align: center;
    color: rgb(91, 91, 91);
    font-family: "San Francisco";
    font-size: 120px;
    margin:0;
    padding:0;
  }
</style>

</head>
<body>
</div>
  <div class="container" id="content">
    <h1 id="log"> </h1>
    <p>people like this</p>
</div>
</body>
</html>
